.home-section {
    background: #f9f9f9;
}

.home-section__title {
    min-height: 295px;
    padding: 70px 14% 107px;

    text-align: center;

    background: url(../img/hero-desktop.jpg) center 0;
    background-repeat: no-repeat;
}

.home-section__items {
    display: grid;

    .container-fluid();
    grid-template-columns: 1fr;
}

.home-section__item {
    font-family: 'tahoma';
    font-size: 18px;
    font-style: 700;
    line-height: 24px;

    position: relative;

    min-height: 100px;
    padding: 24px 30px 30px;

    text-decoration: none;

    color: #fff;

    .icon {
        position: absolute;
        top: 22px;
    }
}

.home-section__item1 {
    background-color: #63d1bb;

    &:hover,
    &:active {
        background-color: #59d5bc;
    }
}

.icon-interior {
    right: 30px;

    width: 40px;
    height: 62px;

    fill: #3bb09d;
}

.home-section__item1:hover .icon-interior {
    fill: #29a592;
}

.home-section__item1:active .icon-interior {
    fill: #44c0aa;
}

.home-section__item2 {
    background-color: #56c3b2;

    &:hover,
    &:active {
        background-color: #46c1ae;
    }
}

.icon-toy {
    right: 20px;

    width: 60px;
    height: 60px;

    fill: #35a999;
}

.home-section__item2:hover .icon-toy {
    fill: #239f8e;
}

.home-section__item2:active .icon-toy {
    fill: #37b2a0;
}

@media @m-width-only {
    .home-section__title {
        background-size: 400px;
    }
}

@media @t-width {
    .home-section {
        position: relative;
    }

    .home-section__title {
        min-height: 620px;
        padding: 125px 130px 347px;

        background: url(../img/hero-desktop.jpg) center 0;
        background-repeat: no-repeat;
    }

    .home-section__items {
        grid-template-columns: 1fr 1fr;
    }

    .home-section__item {
        font-size: 20px;
        line-height: 26px;

        min-height: 105px;
        padding: 24px 35px 30px;
    }

    // wave

    .home-section::before {
        position: absolute;
        z-index: 110;
        right: 0;
        bottom: 0;
        left: 0;

        height: 10px;

        content: '';

        background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
        background-repeat: repeat-x;
        background-size: 20px 20px;
    }

    .home-section::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 15px;

        content: '';

        background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
        background-repeat: repeat-x;
        background-size: 40px 20px;
    }
}

@media @d-width {
    .home-section__title {
        padding: 117.5px 20% 327px;
    }
}
