.home-section {
    background: #f9f9f9;
}

.home-section__title {
    min-height: 295px;
    padding: 70px 14% 107px;

    text-align: center;

    background: url(../img/hero-desktop.jpg) center 0;
    background-repeat: no-repeat;
}

.home-section__item {
    font-family: 'tahoma';
    font-size: 18px;
    font-style: 700;
    line-height: 24px;

    position: relative;

    display: block;

    min-height: 100px;
    padding: 25px 30px 30px;

    text-decoration: none;

    color: #fff;
}

.home-section__item--icon {
    position: absolute;
    top: 25px;
    right: 20px;

    display: block;

    background-repeat: no-repeat;

    &:nth-child(1) {
        right: 10px;

        width: 60px;
        height: 60px;

        background-image: url(../img/interior.png);
    }

    &:nth-child(2) {
        width: 60px;
        height: 60px;

        background-image: url(../img/toy-svg.png);
    }
}

.home-section__item1 {
    background-color: #63d1bb;
}

.home-section__item2 {
    background-color: #56c3b2;
}

@media @m-width-only {
    .home-section__title {
        background-size: 400px;
    }
}

@media @t-width {
    .home-section__title {
        min-height: 620px;
        padding: 125px 130px 347px;

        background: url(../img/hero-desktop.jpg) center 0;
        background-repeat: no-repeat;
    }

    .home-section__container-fluid {
        display: grid;

        .container-fluid();
        grid-template-columns: 1fr 1fr;
    }

     .home-section__items {
        position: relative;

        display: block;
    }

    .home-section__item {
        font-size: 20px;
        line-height: 30px;

        min-height: 105px;
        padding: 28px 35px 30px;

        &:before {
        }
    }

    // wave

    .home-section__items::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 10px;

        content: '';

        background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
        background-repeat: repeat-x;
        background-size: 20px 20px;
    }

    .home-section__items::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 15px;

        content: '';

        background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
        background-repeat: repeat-x;
        background-size: 40px 20px;
    }
}

@media @d-width {
    .home-section__title {
        padding: 117.5px 20% 327px;
    }
}
