.reviews__container-fluid {
    position: relative;

    padding: 0 30px 0;

    .container-fluid();
}

.reviews__title {
    margin-bottom: 27px;
}

.slide {
    display: none;
}

.showing {
    display: inline-block;
}

.reviews__review__body {
    line-height: 30px;

    margin-bottom: 20px;
}

.reviews__review__username {
    font-size: 14px;

    margin-bottom: 10px;
}

.reviews__review__usertag {
    margin-bottom: 30px;
}

.reviews__controls {
    display: inline-block;
    float: left;

    width: 50%;
    height: 50px;
    margin-bottom: 40px;

    cursor: pointer;

    border: 1px solid #ddd;
    outline: none;
    background-color: #fff;

    &:hover,
    &:active{
            background-color: #eee;
        }

    svg {
        width: 34px;
        margin-top: -50px;
    }
}

.reviews__controls__left {
    border-right: 0  solid #ddd;
}

.reviews__btn {
    margin-bottom: 50px;
}

@media @t-width {
    .reviews {
        background: url(../img/review.jpg) 0vw 0 ;
        background-repeat: no-repeat;
    }

    .reviews__container-fluid {
        padding: 42.5px 0 0;
    }

    .reviews__title {
        margin-bottom: 52.5px;
    }

    .reviews__review__body {
        margin-bottom: 10px;
    }

    .reviews__review__username {
        font-size: 16px;

        margin-bottom: 2.5px;
    }

    .reviews__review__usertag {
        font-size: 17px;

        margin-bottom: 165px;
    }

    .reviews__controls-all {
        position: absolute;
        top: 290px;
        right: 0;

        width: 180px;
    }

    .reviews__controls {
        border: 0;
        outline: none;

        svg {
            width: 44px;
            margin-top: -50px;
        }
    }

    .reviews__btn {
        position: absolute;
        top: 50px;
        right: 0;
    }
}

@media @d-width {
    .reviews {
        background: none;
    }

    .reviews__container-fluid {
        padding: 45px 175px 0;

        background: url(../img/review.jpg) 0 0 ;
        background-repeat: no-repeat;
    }

    .reviews__title {
        margin-bottom: 50px;
    }
    .reviews__review__usertag {
        margin-bottom: 160px;
    }
    .reviews__controls-all {
        top: 320px;
    }

    .reviews__btn {
        top: 75px;
    }
}
